<div class= "profile_view">
  <h1><p> <strong>TRU~FLO</strong></p></h1>
    <h2></h2>
      <div id="view_buttons">
        <%= link_to "Sign up", new_user_registration_path, class: "sign_up" %>
      </div>
      <div id="view_buttons">
        <%= link_to "Log in", new_user_session_path, class: "sign_in" %>
      </div>

  <div class=""
</div>
