<div class= "profile_view">
  <h1><p> </p></h1>
    <h2></h2>
      <div class="welcome_text">
        <p> Welcome to <strong>tru<em>FLO</em></strong>.</p> <p>Begin and end your day with music that's right for you and right on schedule.</p>
      </div>

      <div id="view_buttons">
        <%= link_to "Sign up", new_user_registration_path, class: "sign_up" %>
      </div>
      <div id="view_buttons">
        <%= link_to "Log in", new_user_session_path, class: "sign_in" %>
      </div>

  <div class="">
</div>
