<h1> Welcome <%=@profile.name %> </h1>
<div class= "profile_view" >
  <div id= "view_buttons">
    <%= link_to "Edit Profile Info", edit_profile_path %>
  </div>
  <div class="activities"></div>
  <div id= "Genres">
  </div>
</div>
